@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Cookie&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Arima Madurai", cursive;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Header */
header {
  background-color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding: 20px;
}

.nav-btn {
  color: #fff;
  cursor: pointer;
}

.f1 {
  width: 25px;
  border-top: 2px solid  #c8924d;
  padding-top: 4px;
}

.logo > img {
  max-height: 80px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  height: 0;
  overflow: hidden;
  transition: 0.6s;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.navigation li {
  list-style-type: none;
  text-align: center;
  padding: 4px;
}

.navigation a {
  color:  #c8924d;
  text-decoration: none;
  border-radius: 0px;
  width: 100%;
}

.show-navigation {
  height: 10rem;
  margin-top: 8px;
  border-top: solid 2px #fff;
}

.navigation a:hover {
  text-decoration: underline 0.2em;
}

/* Banner */
#banner {
  background-color: #81f0a3;
  background-image: linear-gradient(
      rgba(12, 12, 12, 0.5),
      rgba(15, 15, 15, 0.5)
    ),
    url("../images/bgimage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 1.3em;
}

.banner-box {
  max-width: 490px;
}

#banner h1,
#banner p {
  color: #ffffff;
}

.middle-text {
  margin: 40px 0px 55px 0px;
}

.btn-call-to-action {
  background-color: #c8924d;
  border: none;
  color: #fff;
  padding: 4px 18px;
  border-radius: 20px;
  font-family: "Arima Madurai", cursive;
}

/* Home */
#home {
  display: flex;
  text-align: center;
  min-height: 80vh;
  padding: 10px;
}

#home-content {
  margin: auto;
  max-width: 600px;
}

.the-statement {
  color: #c8924d;
  font-size: 1.5em;
}

.middle {
  margin-top: 35px;
  margin-bottom: 40px;
}

.text-1 {
  color: #c8924d;
  margin: 0px 9px;
  font-size: 1.3em;
}

/* Classes */
#classes {
  background-color: #c8924d;
  min-height: 50vh;
  text-align: center;
  display: flex;
  padding: 10px;
}

.baking-lesson {
  margin: auto;
  max-width: 600px;
}

.w-btn {
  background-color: #25d366;
  padding: 18px 10px 0px;
  border-radius: 20px;
}

.w-txt {
  position: relative;
  top: -8px;
}

.class-call {
  position: relative;
  top: -8px;
  margin-left: 20px;
}

/* cakes */
#cakes {
}

.cakes-group {
  padding: 20px;
}

.cake-header {
  padding: 0px 20px;
  text-align: center;
}

.cakes-item {
  width: 250px;
  margin-top: 25px;
}

/* Cakes Grid */
#cake {
  padding: 10px;
}

.cake-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.our-cakes {
  text-align: center;
  font-size: 1.8em;
}

.cake-img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

/* End of Cake Grid */

/* Contacts */
#contact {
  background-color: rgb(226, 144, 226);
  padding-top: 10px;
}

.contact-group {
  padding: 4px;
}

.contact-header {
  text-align: center;
  padding: 0px 20px;
}

.contact-item {
  flex-basis: 31%;
  padding: 0px 8px;
  margin-top: 10px;
  border-radius: 10px;
}

.contact-item h3 {
  margin: 0;
}

label {
  display: block;
  margin: 15px 0px 5px;
}

input[type],
textarea {
  line-height: 34px;
  width: 100%;
  border-radius: 4px;
  border: 2px solid rgb(235, 235, 235);
  outline: #c3cfcf;
  margin-top: 14px;
  font-family: "Arima Madurai", cursive;
}

.btn-submit {
  border: none;
  padding: 12px 28px;
  border-radius: 3px;
  margin: 15px auto;
  font-family: "Arima Madurai", cursive;
}

.icon {
  font-size: 1.2em;
  width: 30px;
  border-radius: 2px;
}

.map {
  width: 100%;
  height: 350px;
  padding: 10px;
  padding-top: 0px;
}

/* Footer */

footer {
  background-color: rgb(206, 206, 206);
  background-color: #f5f5f5;
  text-align: center;
  padding: 1px;
}

/* scroll */

.scroll-btn {
  font-size: 3rem;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.scroll-btn:hover {
  color: gray;
}

.btn-up {
  color: #fff;
  font-size: 1.1em;
  border: none;
  border-radius: 10px;
  background-color: rgb(174, 174, 184);
}

/* 768px and larger */
@media only screen and (min-width: 768px) {

  /* New Header */
  header {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-header {
    padding: 0px;
  }

  .navigation {
    height: auto;
  }

  .navigation ul {
    flex-direction: row;
  }

  .navigation a {
    padding-left: 4px;
    border-radius: 4px;
    display: block;
  }

  .show-navigation {
    border: none;
  }

  .f1 {
    border: none;
  }

  #banner {
    font-size: 1.5em;
  }

  .cakes-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .cake-box {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .contact-group {
    display: flex;
    justify-content: space-between;
  }
}

